body.hide-completed-tasks .markdown-preview-view ul > li.task-list-item.is-checked,
body.hide-completed-tasks .markdown-source-view .HyperMD-task-line[data-task]:not([data-task=" "]) {
    display: none;
    }
}"])